/*
#cb442a - noa orange
#382550 - tomil purple
rgba(235,221,204,1.0) - body color light
rgba(30,22,40,1.0) - navot dark purple
*/


body{
    background-color: #ebddcc;
    background-image: url("222-VAG05877.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* nav style start */
:root{
    --background: rgba(223, 178, 124, .94)
}

#header{
    text-align:center;
    justify-content: space-between;
    margin-top:0;
    border-radius: 10px;
    background-color: var(--background);
    width:100%;
    position: relative;
}

#header h1{
    align-self: start;
    order:2;
    flex:5;
    color:#1e1628;
    position: absolute;
    font-size: 100%;
    left:49%;
    top: 12%;
}

#header-img{
    width:150px;
    order:1;
    border-radius:50%;
    margin-top: 4px;
    z-index: 2000;
    
}




.nav-toggle{
    display:none;
}

.nav-toggle-label{
    position:absolute;
    z-index:1000;
    
    top: 8px;
    left:1em;
    display :flex;
    height: 155px;
    align-items: center;

}

.toggle-span,
.toggle-span::before,
.toggle-span::after{
    display:block;
    background-color: black;
    height: 3px;
    width:30px;
    border-radius: 10px;
    position: relative;
} 

.toggle-span::before,
.toggle-span::after{
    content:'';
    position: absolute;
}

.toggle-span::before{
    bottom: 10px;
    height: 3px;
}

.toggle-span::after{
    top:10px;
    height: 3px;
    
}






.nav-bar{
    text-align: left;
    background-color: var(--background);
    position: absolute;
    margin-top: -10px;;
    padding: 0;
    top: 100%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    transform: scale(1, 0);
    transform-origin: top;
    transition:  400ms ease-in-out;
    
    
}

.navList{
    list-style-type: none;
    padding:0;
    margin:0;

}

.navList li{
    margin-bottom: .5em;
    margin-left: .7em;
}

.nav-link{
    text-decoration: none;
    color:black;
    opacity:0;
    transition: 150ms ease-in-out;
}

.nav-link:hover{
    color: #774e1f
}

.nav-toggle:checked ~ #header{
    
    border-radius: 10px 10px 0px 0px;
}

.nav-toggle:checked ~ header .nav-bar{
    transform:scale(1,1);
    margin-top:0;
    
} 

.nav-toggle:checked ~ #content{
    margin-top: 130px;
}

.nav-toggle:checked ~ header .nav-link{
    opacity:1;
    transition: 250ms ease-in-out 200ms ;
}


#home {
    color: #c4c3bb;
    margin: auto;
    text-align: center;
}
#trailer{
    margin-top: 100px
    
}
#content {
    margin: 20px;
    text-align: center;
    
}
#content p{
    text-align: start;
}


