/*
#cb442a - noa orange
#382550 - tomil purple
rgba(235,221,204,1.0) - body color light
rgba(30,22,40,1.0) - navot dark purple
*/

/* general */ 
:root{
    --background: rgba(223, 178, 124, .94)
}



body{
    background-color: #ebddcc;  
    margin:0;
}

h2{
    text-align:center;
}






/* nav style start */








#header{
    text-align:center;
    background-color: var(--background);
    width:100%;
    top:0;
    margin:0;
    position:fixed;
    z-index: 1000;

}


.logo{
    width:150px;
    border-radius:50%;
    margin: 5px auto;
    z-index: 2000;
    vertical-align: middle;    
}




.nav-toggle{
    display:none;
}

.nav-toggle-label{
    position: fixed;
    z-index:1000; 
    top:0;    
    left:1em;
    display :flex;
    height: 158px;
    align-items: center;
    
}

.toggle-span{
    position: relative;
    display: inline-block;
    width: 2.1em;
    height: 1.2em;
    border-top: 0.23em solid rgb(0, 0, 0);
    border-bottom: 0.23em solid rgb(0, 0, 0);
} 


.toggle-span::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0px;
    width: 100%;
    border-top: 0.23em solid rgb(0, 0, 0);
}






.nav-bar{
    text-align: left;
    background-color: var(--background);
    position: absolute;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: 150ms ease-in-out;
    
    
}

.navList{
    list-style-type: none;
    padding:0;
    margin:0;
    
}

.navList li{
    margin-bottom: .5em;
    margin-left: .7em;
}

.nav-link{
    text-decoration: none;
    color:black;
    opacity:0;
    transition: 75ms ease-in-out;
}

.nav-link:hover{
    color: #774e1f;
}



.nav-toggle:checked ~ header .nav-bar{
    transform:scale(1,1);
    margin-top:0;
    
} 

.nav-toggle:checked ~ .the-show{
    margin-top: 280px;
    transition: 200ms ease-in-out  ;
}

.nav-toggle:checked ~ header .nav-link{
    opacity:1;
    transition: 250ms ease-in-out 150ms ;
}







/* Content */








.content{
    margin: auto 20px;
}

.the-show {   
    margin-top:175px;
}

.trailer{
    width:100%;
    height:0;
    padding-bottom: 56.25%;
    position: relative;
    z-index: 0;
}

.trailer iframe{
    width:90%;
    height: 90%;
    
    position: absolute;
    

    margin-left:5%;
    margin-right: 5%;
    margin-bottom:50px;
    z-index: 1;
}



.about-us{
    margin-top: 50px;
}

.about-us img{
    width:100%;
}

.contact{
    padding-bottom:60px;
    background-color: var(--background);
}











/* big screen */





@media (min-width: 700px){
    .nav-toggle-label{
        display:none;
    }

    #header{
        display:grid;
        grid-template-columns: 1fr auto minmax(500px, 1fr) 1fr;

    }

    .logo{
        margin: 5px auto;
        grid-column: 2/3 ;
    }

    .nav-bar{
        all: unset;
        grid-column: 3/4;
        
    }

    .navList{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 400;
        
    }

    .nav-link{
        opacity: 1;
        position: relative;
    }

    .nav-link::before{
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        background: black;
        left:0;
        right:0;
        bottom : 1.3em;
        transform: scale(0,1);
        transition: 250ms ease-in-out;
        
    }
    .nav-link:hover::before{
        
        transform: scale(1,1);
    }
    .about-us{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
             "img content"
             " img content";
        grid-row-gap:0px;
        grid-column-gap: 10px;
        margin-top: -10px;
    }

    .about-us h2 {
        grid-area: header;
        margin-top: -10px;
    }

    .about-img {
        grid-area: img;
        align-self: center;
        
        
    }

    .about-us p{grid-area: content}
}







/*about us media stuf*/
@media (min-width: 500px){
    .about-us{
        margin-top: 40px;
    }
}

@media (min-width: 850px){
    .about-us h2 {
       margin-top:-30px;
    }
}

@media (min-width: 1000px){
    .about-us h2 {
       margin-top:-40px;
    }
}

@media (min-width: 1300px){
    .about-us h2 {
       margin-top:-50px;
    }
}

@media (min-width: 1700px){
    .about-us h2 {
       margin-top:-65px;
    }
}